<link rel="stylesheet" href="/static/css/tasks_style.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% extends "base.html" %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-warning" role="alert">
				{% for message in messages %}
					{{ message }}<br>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	<p></p>
	<div class="card-header-tab">
		<form class="d-flex search" action="{{ url_for('tasks.process_search') }}" method="POST">
			{{ search_task_form.hidden_tag() }}
				{{ search_task_form.search_num(value=search_num) }}
				{{ search_task_form.search_submit() }}
		</form>

		<nav aria-label="Page navigation" class="navigation_page">
			<ul class="pagination pagination-sm">
				<li class="page-item {% if not pagination.has_prev %} disabled {% endif %}">
					<a class="page-link" href="{{ url_for('tasks.search_task', search_num=search_num, page=pagination.prev_num) }}" aria-label="Предыдущая">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
		
				{% for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
					{% if page %}
					<li class="page-item {%if page==pagination.page%} active {%endif%}">
						<a class="page-link" href="{{ url_for('tasks.search_task', search_num=search_num, page=page) }}">{{page}}</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">&hellip;</a>
					</li>
					{% endif %}
				{% endfor %}
		
				<li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
					<a class="page-link" href="{{ url_for('tasks.search_task', search_num=search_num, page=pagination.next_num) }}" aria-label="Следующая">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row d-flex justify-content-center container">
		<div class="col">
			<div class="card-hover-shadow-2x card">
				<div class="card-header-tab card-header">
					<div class="d-block">
						{{ manage_task_form.create_submit() }}
					</div>
				</div>

				<div class="scroll-area-sm">
					<perfect-scrollbar class="ps-show-limits">
						<div style="position: static;" class="ps ps--active-y">
							<div class="ps-content">
								<ul class=" list-group list-group-flush">
									{% for task in pagination.items %}
										<li class="list-group-item">
											<div class="widget-content p-0">
												<div class="widget-content-wrapper">
													<div class="widget-content-left mr-2">
														<div class="custom-checkbox custom-control">
															<input class="custom-control-input" id="exampleCustomCheckbox12" type="checkbox">
															<label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label>
														</div>
													</div>
													<div class="widget-content-left">
														<div class="widget-heading">Задание № {{ task.id_task }} ({{ task.model_mi }}, зав. номер {{ task.serial_number }})
															{% if task.id_status == 1 %}
																<span class="badge rounded-pill bg-info text-dark">В работе</span>
															{% else %}
																<span class="badge rounded-pill bg-success">Выполнено</span>
															{% endif %}
														</div>
												</div>
												<div class="widget-content-right">
													<button class="border-0 btn-transition btn btn-outline-success">
														<i class="fa fa-check" aria-hidden="true"></i>
													</button>
													<button class="border-0 btn-transition btn btn-outline-danger">
														<i class="fa fa-trash"></i>
													</button>
												</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</perfect-scrollbar>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
