<!DOCTYPE html>
<html lang="ru" >
	<head>
		<title> OnlinePoverka - Госреестр: {{ data_of_appr_type.number_si }} </title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<header class="menu">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a class="active" href="/appr_types/1/20">Утвержденные типы СИ</a></li>
				<li><a href="/poverka">Онлайн поверка</a></li>
				<li><a href="/protocols">Отчеты</a></li>
			</ul>
		</header>

		<div>
			<table class="table_info">
				<thead>
					<tr>
						<th class="column_1">Наименование</th>
						<th class="column_2">Значение</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Номер в госреестре</td>
						<td>{{ data_of_appr_type.number_si }}</td>
					</tr>
					<tr>
						<td>Наименование СИ</td>
						<td>{{ data_of_appr_type.name_si }}</td>
					</tr>
					<tr>
						<td>Обозначение типа СИ</td>
						<td>{{ data_of_appr_type.designation_si }}</td>
					</tr>
					<tr>
						<td>Номер записи</td>
						<td>{{ data_of_appr_type.number_record }}</td>
					</tr>
					<tr>
						<td>Дата опубликования</td>
						<td>{{ data_of_appr_type.publication_date }}</td>
					</tr>
					<tr>
						<td>Изготовитель</td>
						<td>{{ data_of_appr_type.manufacturer_si }}</td>
					</tr>
					<tr>
						<td>Описание типа</td>
						<td><a href="{{ data_of_appr_type.description_si }}">ОТ_{{ data_of_appr_type.number_si }}.pdf</a></td>
					</tr>
					<tr>
						<td>Методика поверки</td>
						<td><a href="{{ data_of_appr_type.method_verif_si }}">МП_{{ data_of_appr_type.number_si }}.pdf</a></td>
					</tr>
					<tr>
						<td>Процедура</td>
						<td>{{ data_of_appr_type.proced_si }}</td>
					</tr>
					<tr>
						<td>Межповерочный интервал</td>
						<td>{{ data_of_appr_type.mpi_si }}</td>
					</tr>
					<tr>
						<td>Статус</td>
						<td>{{ data_of_appr_type.status_si }}</td>
					</tr>
					<tr>
						<td>Ссылка на АРШИН</td>
						<td><a href="https://fgis.gost.ru/fundmetrology/registry/4/items/{{ data_of_appr_type.id_arshin }}">{{ data_of_appr_type.number_si }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
    </body>
</html>