/* Styles for Menu (navbar) */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    background-color: #f3f3f3;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover:not(.active) {
    background-color: #a6dcfe;
}
.menu li a.active {
    color: rgb(255, 255, 255);
    background-color: #65b2ff;
}
.scroll-table-body {
    height: 700px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/* Styles for Scroll */
::-webkit-scrollbar {
    width: 15px;
} 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Styles for Table of approved types */
table.mainTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}
table {
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
table.mainTable, table.mainTable td, table.mainTable th {
    border: 0px solid #352F4B;
}
table.mainTable td, table.mainTable th {
    padding: 3px;
    width: 10em;
    height: 1.5em;
}
.mainTable tbody tr:nth-child(even) {
    background:#F6F6F6;
}
th.sorted[data-order="1"], th.sorted[data-order="-1"] {
    position: relative;
}
th.sorted[data-order="1"]::after, th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}
th.sorted[data-order="-1"]::after {
    content: "▼"
}
th.sorted[data-order="1"]::after {
    content: "▲"
}

/* Styles for Columns in table of approved_types */
table.mainTable th {
    background: #352F4B;
    color: #D6D2E1;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
table.mainTable th.column_1 {
    text-align: center;
    width: 10%;
}
table.mainTable th.column_2 {
    text-align: left;
    width: 10%;
}
table.mainTable th.column_3 {
    text-align: left;
    width: 30%;
}
table.mainTable th.column_4 {
    text-align: left;
    width: 20%;
}
table.mainTable th.column_5 {
    text-align: left;
    width: 30%;
}

/* Styles for Data in table of approved_types */
table.mainTable td {
    font-weight: normal;
    padding: 0.25%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    text-align: left;
    vertical-align: top;
    font-family: Helvetica, Arial, sans-serif;
}
table.mainTable td.column_data_1 {
    width: 10%;
    text-align: center;
}
table.mainTable td.column_data_2 {
    width: 10%;
}
table.mainTable td.column_data_3 {
    width: 30%;
}
table.mainTable td.column_data_4 {
    width: 20%;
}
table.mainTable td.column_data_5 {
    width: 30%;
}

/* Styles for search */
.inputSearch {
    margin: 1%;
    padding-left: 10em;
    padding-right: 5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

/* Styles for checkbox */
.boxes {
    margin: auto;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Styles for table with data of approved type */
table.table_info {
    width: 100%;
    border: 1px solid #352F4B;
    height: auto;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}
table.table_info th {
    background: #352F4B;
    color: #D6D2E1;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}
table.table_info th.column_1 {
    border-top-left-radius: 8px;
}
table.table_info th.column_2 {
    border-top-right-radius: 8px;
}
table.table_info td {
    font-weight: normal;
    padding-top: 10px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}